.header h4 {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 30px;
  margin-top: 15px;
}
.header {
  float: right;
  padding-right: 15px;
  background: #3A5E14;
  width: 100%;
  height: 5rem;
}
body {
  display: border-block;
  margin: 0;
  padding: 0;
}
.about {
  float: right;
  padding-right: 15px;
}
img {
  max-width: 100%;
  height: auto;
}
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
.carousel-container {
  max-width: 37rem;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: 'Lato', sans-serif;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}
*::-webkit-scrollbar {
  width: 0;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
* {
  -ms-overflow-style: none;
}
ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}
.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.carousel__slide
{
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #6611104f;
}
.carousel__slide:nth-child(even) {
  background-color: #7fa9678a;
}
.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}
.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  border-radius: 10px;
}
.carousel:hover {
  opacity: 0.8;
}
@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}
.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}
.carousel::before,
.carousel__prev {
  left: -1rem;
}
.carousel::after,
.carousel__next {
  right: -1rem;
}
.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: rgba(51, 51, 51, 0);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
}
.carousel-p {
  color: white;
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  margin-left: 8rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
a {
  text-decoration: none;
}
.carousel__navigation {
  padding-top: 10px;
}
.home-title {
  display: flexbox;
  text-align: center;
  top: 35%;
  bottom: 90%;
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  position: absolute; 
  left: 0; 
  width: 100%; 
  font-family: 'Dancing Script', cursive;
}
.home-image img {
  position: relative; 
  width: 100%;
}
.home-footer {
  width: 100%;
  height: 15rem;
  background: #2E150D;
}
.creators-ph img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 20px;
}
.home-footer {
  justify-content:center;
  position: relative;
  width: 100%;
  height: 15rem;
  bottom: 0%;
  top: 90%;
}
.home-footer p {
  padding-top: 20px;
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 2.6rem;
}

.creators-ph {
  display: flex;
  align-content:center;
  right: 50%;
  left: 50%;
  margin-left: -20%;
  position: absolute;
  bottom: 10%;
  width: 50%;
}